<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!-- its job is to scan the url and tell which class is used for data generateion. -->	



	<bean id="HandlerMapping"         
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />

	<!-- Controller -->
	<bean name="/welcome.html" class="com.controller.HelloWorldController"></bean>


<!-- tell the perfect location of the view resent in the project -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>


</beans>